.blog {
  &__container {
    margin: 0 auto;
  }

  &__wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-items: flex-start;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__info {
    flex-basis: 40%;

    @include onTablet {
      flex-basis: 48%;
    }
  }

  &__title {
    padding-bottom: 50px;

    @include onTablet {
      padding-bottom: 16px;
      font-size: 42px;
    }
  }

  &__subtitle {
    padding-bottom: 20px;

    @include onTablet {
      padding-bottom: 10px;
      font-size: 24px;
    }
  }

  &__text {
    line-height: 150%;
    color: $paragraph;

    @include onTablet {
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__player-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    align-self: stretch;

    @include onMobile {
      margin-top: 30px;
    }
  }

  &__player {
    height: 100%;
    width: 100%;

    @include onMobile {
      min-height: 50vw;
    }
  }
}
