.button {
  cursor: pointer;
  height: 70px;
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: $mainBck;
  background-color: $btnColor;
  border: 2px solid $btnColor;
  border-radius: 10px;

  @include activeEf(box-shadow, 0 0 5px $btnColor);
  @include hoverEffect2(background-color, $mainBck, color, $btnColor);
}
