.catalog {
  &__title {
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;

    @include onTablet {
      padding-bottom: 30px;
      font-size: 42px;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--img {
      margin-bottom: 40px;
      padding: 10px;
    }

    @include onTablet {
      flex-wrap: wrap;
      justify-content: center;

      &--img-1 {
        display: none;
      }

      &--img-7 {
        display: none;
      }
    }

    @include onMobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $priceAndPlaceholders;
    text-align: center;
  }

  &__btn {
    display: block;
    width: 620px;
    margin: auto;
    margin-bottom: 10px;

    @include onTablet {
      max-width: 480px;
      min-width: fit-content;
    }

    @include onMobile {
      width: 100%;
      min-width: fit-content;
    }
  }
}
