.header {
  &__container {
    margin: 0 auto;
  }

  &__wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top-action {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;

    @include onMobile {
      flex-wrap: wrap;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: start;
    flex-basis: 460px;

    @include onMobile {
      margin-top: 40px;
      flex-basis: 100%;
      align-items: center;
      order: 2;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include onTablet {
      font-size: 48px;
    }

    @include onMobile {
      font-size: 40px;
      line-height: 150%;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 90px;

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: $paragraph;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onMobile {
      min-width: 100%;
      text-align: center;
    }
  }

  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $priceAndPlaceholders;

    @include onMobile {
      min-width: 100%;
      text-align: center;
    }
  }

  &__btn {
    width: 300px;
    margin-bottom: 10px;

    @include onMobile {
      max-width: 240px;
      min-width: fit-content;
    }
  }

  &__img-wrp {
    flex-basis: 510px;
    flex-shrink: 1;
  }

  &__img {
    max-width: 100%;
    object-fit: cover;

    @include hoverEffect(transform, scale(1.05));

    @include onMobile {
      width: 100%;
    }
  }
}
